/* =========================
   GLOBAL STYLES
========================= */

:root
{
    --bg-dark: #020617;
    --bg-mid: #1E293B;
    --nav-bg: #0F172A;

    --primary: #06B6D4;
    --white: #FFFFFF;
    --light-gray: #c9c3c3;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: var(--bg-dark);
}

/* 
   NAVIGATION BAR
 */

#navigation
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;

    background-color: var(--nav-bg);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    z-index: 1000;
}

.logo
{
    width: 300px;
    height: auto;
}

.navElements
{
    text-decoration: none;
    color: var(--primary);

    font-size: 18px;
    font-weight: 600;

    transition: all 0.3s ease;
}

.navElements:hover
{
    color: var(--light-gray);
    transform: scale(1.08);
}

/* 
   HERO SECTION
 */

#hero
{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background:
    radial-gradient(circle at center,  var(--bg-mid),  var(--bg-dark ) );

    padding: 120px 20px 50px;
}

.hero-section
{
    width: 100%;
    max-width: 1000px;
    padding:  0px 20px;
}

.hero-title
{
    font-size: 4rem;
    color: var(--primary);
    font-weight: 800;
    margin-bottom: 30px;

    line-height: 1.2;
}

.hero-description
{
    font-size: 1.4rem;
    color: var(--white);

    margin-bottom: 50px;

    line-height: 1.6;
}


.cta-buttons
{
    display: flex;
    justify-content: center;
    gap: 25px;

    flex-wrap: wrap;
}

.cta-primary,
.cta-secondary
{
    padding: 20px 40px;
    width: fit-content;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    border-radius: 15px;

    font-size: 1.1rem;
    font-weight: bold;

    transition: all 0.3s ease;
}


.cta-primary
{
    background-color: var(--primary);
    color: var(--white);
}

.cta-primary:hover
{
    transform: scale(1.05);
    background-color: var(--nav-bg);
    color: var(--primary);
}

.cta-secondary
{
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
}

.cta-secondary:hover
{
    transform: scale(1.05);
    background-color: var(--primary);
    color: var(--white);
}

/* Features */

#features
{
    display:  flex;
    justify-content: center;
    align-items: center ;
    background-color: var(--bg-mid); 
    


    text-align: center;


    background: linear-gradient(  135deg,   var(--bg-mid),   var(--nav-bg) );
    padding: 170px 20px;

}

.featuresContainer
{
    width: 100%;
    max-width: 1200px;
}

.featuresHeader
{
    position: relative;


}

#feature-title
{
    color: var(--primary);

    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

#feature-desc
{
    color:white;
    font-size:1.25rem;
    line-height: 1.6;
    margin-bottom: 60px;
}


.featuresGrid
{

    display: grid;

    grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr));

    gap: 50px;
    
}

.featureCard
{
    background-color: var(--nav-bg);

    padding: 35px 25px;
    border-radius:  20px;
    text-align: center;
    transition: all 0.3s ease;

    color: var(--primary);
    cursor: pointer;

    border: 2px solid rgba(255,255,255,0.08);
    
}

.featureCard:hover
{
    transform: translateY(-10px);
    background-color: var(--primary);
    color: var(--nav-bg);

     box-shadow: 0 10px 30px rgba(0,255,255,0.2); 

}

.icon
{
    font-size:  2rem;
      margin-bottom: 20px;
}


/* Statistics */
#statistics
{


    background: var(--bg-dark);
    text-align:  center;
    padding: 270px 10%;

    background:
    radial-gradient(circle at center,  var(--bg-mid),  var(--bg-dark ) );
}


.statsGrid
{
    display:flex;
    justify-content: center;
    align-items:  center;

    flex-wrap: wrap;
    margin-top: 60px;
    gap:30px;

}

.statsHeader{
    margin-bottom: 70px;
}

.statsHeader p
{
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 1.6;
}

.statsHeader h2
{
    color: var(--primary);
    font-size:  5rem;
    font-weight: 800;
    margin: 0;

}

.statsCard
{
   background-color: var(--nav-bg);

    padding: 45px 30px;
    border-radius:  20px;
    text-align: center;
    transition: all 0.3s ease;

    padding: 40px 20px;
    flex:1;
    min-width: 240px;
    max-width: 300px;
    text-align: center;

    color: var(--primary);
    cursor: pointer;

    border: 2px solid rgba(255,255,255,0.08);

    
}

.statsCard:hover
{
    transform: translateY(-8px) scale(1.03);
    background-color: var(--primary);
    color: var(--nav-bg);

    box-shadow: 0 10px 30px rgba(0,255,255,0.2); 
}

.statsH
{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 10px;
    line-height: 1.6;
}

.statsD
{
    font-size: 1.1rem;
    color: var(--light-gray);
}


/* Course */
#courses
{
    background: linear-gradient(  135deg,   var(--bg-mid),   var(--nav-bg) );
    padding: 155px 10%;

    text-align:  center;

}

.coursesContainer
{
    width: 100%;
    max-width: 2000px;
    margin:0 auto;
   
}

.coursesHeader
{
    line-height: 1.6;
}

.coursesHeader h2
{
    font-size: 3rem;
    color: var(--primary);
    font-weight: 800;
}

.coursesHeader p
{
    font-size: 1.25rem;
    max-width:700px;
    margin:auto;
    color: white;
    margin-bottom: 50px;
}

.coursesGrid
{
     display: grid;

    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));

    gap: 50px;
    
    
}

.courseCard
{
    background-color: var(--bg-mid);

    padding: 30px 30px;
    border-radius:  20px;
    text-align: center;
    transition: all 0.3s ease;

    width: 100%;


    color: var(--primary);
    overflow: hidden;
   
    

    border: 2px solid rgba(255,255,255,0.08); 
}

.courseCard:hover
{
    transform: translateY(-8px);
  
    border-color: var(--primary);

    box-shadow: 0 10px 80px rgba(6,182,212,.25);
}


.courseInfo 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 0.95rem;
    margin-top: 20px;
}

.courseInfo p
{
    background: rgba(75, 75, 75, 0.247);
    color: var(--primary);

    padding: 5px 14px;
    border-radius: 15px;
}


.courseEnroll
{
    background-color: var(--primary);
    color: white;
    padding: 5px 14px ;
    border-radius: 15px;
    padding:15px 60px;
    cursor: pointer;
    
}

.courseImage
{
    width:100%;
    height:220px;
    display: block;
    object-fit: cover; 
    margin-bottom: 20px;

}

/* Testimonial */

#testimonials
{
    background:radial-gradient(circle at center,  var(--bg-mid),  var(--bg-dark ) );

    text-align:  center;
    padding: 180px 10%;
}

.testContainer
{
    width: 100%;
    max-width: 1200px;
    margin:auto;
}

.testHeader
{
    line-height: 2;
}

.testHeader h2
{
    font-size:  3rem;
    font-weight: 800;
    color: var(--primary);
    margin-bottom:15px;
}

.testHeader p
{
    font-size:  1.25rem;
    margin-bottom: 40px;
    line-height:2;
}

.testGrid
{
     display: grid;

    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));

    gap: 50px;
}

.testCard
{
    background: var(--bg-mid);
    border-radius: 15px;
    

    border: 3px solid rgba(75, 75, 75, 0.247);
    overflow: hidden;

    text-align: center;
    transition: all 0.3s ease;

    padding:30px 30px;
    line-height: 2;

}

.testCard:hover
{
    transform: translateY(-8px);
  
    border-color: var(--primary);

    box-shadow: 0 10px 80px rgba(6,182,212,.25);
}

.stars{
    color:gold;
    font-size: 1.5rem;
    display:flex;
    justify-content:flex-end;
}

.review
{
    color:white;
    margin-bottom: 30px;
    margin-top: 25px;
    line-height:1.7;
}

.student
{
    display: flex;
    align-items:center;
    gap:15px;
    justify-content:flex-start;
    margin-top: 50px;
}

.student img
{
    border-radius: 100%;
    height: 75px;
    width: 75px;
    object-fit: cover;
    
}

.studentInfo h3
{
    color:  var(--primary);
}

#ali
{
    margin-top: 75px;
}


/* pricing */

#pricing
{
     background: linear-gradient(  135deg,   var(--bg-mid),   var(--nav-bg) );
    padding: 155px 10%;

    text-align:  center;
}

.priceContainer
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.priceHeader
{
    text-align: center;
    margin-bottom: 70px;
}

.priceHeader h2
{
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary);
    line-height: 2;
}

.priceHeader p
{
    font-size: 1.5rem;
    line-height: 1.6;
}

.priceGrid
{
    display: grid;


    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));

    gap: 100px;

}

.priceCard
{
    background-color: var(--nav-bg);
    border-radius: 20px;
    padding: 30px 30px;
    overflow:  hidden;
    text-align: center;
    line-height: 2.6;

    transition: all 0.3s ease;
    border: 4px solid rgba(255,255,255,0.08);

    position:relative;
}

.priceCard:hover
{
    transform:translateY(-10px);

    box-shadow: 0 10px 40px rgba(6,182,212,.25);

    border-color:var(--primary);
}

.priceCard h3
{
    font-size: 1.75rem;
    color: white;
}

.priceCard h1
{
    font-size: 3rem;
    color: var(--primary);

}

.priceCard p
{
    color: var(--light-gray);
    margin-bottom: 30px;
}

.priceCard ul
{
    list-style: none;
    margin-bottom: 30px;
}

.free ul
{
    margin-bottom: 110px;
    flex:1;
}

.priceCard button
{
    padding: 10px 30px;
    width: fit-content;

    background-color: var(--primary);
    box-shadow:0 2px 20px rgb(18, 105, 146);
    border: none;
    border-radius: 13px;
    cursor: pointer;

    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.priceCard button:hover
{
    transform: scale(1.1);
}

.popular
{
    transform: scale(1.05);
    border: 4px solid var(--primary);
    box-shadow: 0 10px 40px rgba(6,182,212,.25);
    
}

.popular:hover
{
      transform:translateY(-10px) scale(1.05);
}

.badge
{
    position: absolute;
    top: -12px;
    left: 36.5%;
    

    transform:translateX(-15%);

    background-color: var(--primary);
    border-radius: 30px;

    padding: 8px 20px;
    font-weight: 700;
    font-size: 0.9rem;

  
}

/* =========================
RESPONSIVE DESIGN
========================= */

@media (max-width: 992px)
{
    #navigation
    {
        justify-content: space-between;
    }
    .hero-title
    {
        font-size: 3rem;
    }

    .hero-description
    {
        font-size: 1.2rem;
    }

    .statsHeader h2
    {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px)
{
    #navigation
    {
        flex-wrap: wrap;
        height: auto;
        padding: 15px;
        gap: 15px;
    }

    .logo
    {
        width: 220px;
    }

    .hero-title
    {
        font-size: 2.5rem;
    }

    .hero-description
    {
        font-size: 1rem;
    }

    .cta-buttons
    {
        flex-direction: column;
        align-items: center;
    }

    .cta-primary,
    .cta-secondary
    {
        width: 220px;
        height: 70px;
    }

    .statsGrid{
        justify-content: center;
    }

    .statsCard{
        max-width: 350px;
    }

    #courses
    {
        padding: 80px 6%;
    }

    .coursesHeader
    {
        font-size:2rem;
    }

    .courseImage
    {
        height: 200px;
    }

    .coursesGrid
    {
        gap:25px;
    }
}

@media (max-width: 480px)
{

    .hero-title
    {
        font-size: 2rem;
    }

    .hero-description
    {
        font-size: 0.95rem;
    }

    .navElements
    {
        font-size: 16px;
    }

    #statistics
    {
        padding:100px 5%;
    }
    .statsHeader h2
    {
        font-size: 3rem;
    }

    .statsHeader p
    {
        font-size: 1.2rem;
    }

    .statsH
    {
        font-size: 2.5rem;
    }

    .statsD
    {
        font-size: 1.2rem;
    }

    .statsCard
    {
        min-width: 100%;
    }

    #courses
     {
        padding:100px 5%;
    }

    #features
     {
        padding:100px 5%;
    }

    #testimonials
    {
        padding:100px 5%;
    }

    .testHeader h2
    {
        font-size: 2rem;
    }

    .testHeader p
    {
        font-size: 1.25rem;
    }

            body
    {
        background: red !important;
    }

}

